<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>感想:</strong>
  <%= @book.body %>
</p>

<%= link_to 'edit', edit_book_path(@book), class: "edit_#{@book.id}" %> |
<%= link_to 'Back', books_path, class: "back" %>
